In [1]:
import pandas as pd
import numpy as np

In [2]:
# Membaca dataset
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [3]:
# Melihat informasi tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [4]:
# Melihat nama kolom
df.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

In [5]:
# Menampilkan kolom missing values
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [6]:
# Cek nilai berdasarkan tipe data
df.select_dtypes('object')

,Date,Location ISO Code,Location,Location Level,Province,Country,Continent,Island,Time Zone,Special Status,Case Fatality Rate,Case Recovered Rate
0,3/1/2020,ID-JK,DKI Jakarta,Province,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,51.28%,105.13%
1,3/2/2020,ID-JK,DKI Jakarta,Province,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,48.78%,100.00%
2,3/2/2020,IDN,Indonesia,Country,NaN,Indonesia,Asia,NaN,NaN,NaN,0.00%,0.00%
3,3/2/2020,ID-RI,Riau,Province,Riau,Indonesia,Asia,Sumatera,UTC+07:00,NaN,0.00%,150.00%
4,3/3/2020,ID-JK,DKI Jakarta,Province,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,46.51%,95.35%
...,...,...,...,...,...,...,...,...,...,...,...,...
21754,12/2/2021,ID-SA,Sulawesi Utara,Province,Sulawesi Utara,Indonesia,Asia,Sulawesi,UTC+08:00,NaN,3.04%,96.69%
21755,12/2/2021,ID-SB,Sumatera Barat,Province,Sumatera Barat,Indonesia,Asia,Sumatera,UTC+07:00,NaN,2.40%,97.50%
21756,12/2/2021,ID-SS,Sumatera Selatan,Province,Sumatera Selatan,Indonesia,Asia,Sumatera,UTC+07:00,NaN,5.12%,94.82%
21757,12/2/2021,ID-SU,Sumatera Utara,Province,Sumatera Utara,Indonesia,Asia,Sumatera,UTC+07:00,NaN,2.72%,97.19%
21758,12/3/2021,IDN,Indonesia,Country,NaN,Indonesia,Asia,NaN,NaN,NaN,3.38%,96.44%

In [7]:
# Cek nilai berdasarkan tipe data
df.select_dtypes('int64')

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Area (km2),Population
0,2,0,0,2,39,20,41,-22,1,44,664,10846145
1,2,0,0,2,41,20,41,-20,1,44,664,10846145
2,2,0,0,2,2,0,0,2,416,7230,1916907,265185520
3,1,0,0,1,2,0,3,-1,10,169,87024,6074100
4,2,0,0,2,43,20,41,-18,1,44,664,10846145
...,...,...,...,...,...,...,...,...,...,...,...,...
21754,2,0,0,2,34715,1056,33566,93,11,171,13892,2641884
21755,4,0,0,4,89849,2152,87605,92,12,179,42013,5519245
21756,4,0,0,4,59937,3071,56830,36,13,241,91592,8217551
21757,4,0,1,3,106045,2889,103061,95,25,450,72981,14874889
21758,245,8,328,-91,4257243,143858,4105680,7705,416,7230,1916907,265185520

In [8]:
# Cek nilai berdasarkan tipe data
df.select_dtypes('float64')

,City or Regency,Total Cities,Total Urban Villages,Total Rural Villages,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
0,NaN,5.0,267.0,NaN,16334.31,106.836118,-6.204699,0.18,3.60,0.00,1.84,0.18,NaN,NaN
1,NaN,5.0,267.0,NaN,16334.31,106.836118,-6.204699,0.18,3.78,0.00,1.84,0.18,1.00,1.0
2,NaN,98.0,8488.0,74953.0,138.34,113.921327,-0.789275,0.01,0.01,0.00,0.00,0.00,NaN,NaN
3,NaN,2.0,268.0,1591.0,69.80,101.805109,0.511648,0.16,0.33,0.00,0.00,0.00,NaN,NaN
4,NaN,5.0,267.0,NaN,16334.31,106.836118,-6.204699,0.18,3.96,0.00,1.84,0.18,1.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21754,NaN,4.0,332.0,1507.0,190.17,124.521240,1.259638,0.76,13140.24,0.00,399.71,39.97,NaN,1.0
21755,NaN,7.0,230.0,928.0,131.37,100.465062,-0.850253,0.72,16279.22,0.00,389.91,38.99,4.00,1.0
21756,NaN,4.0,387.0,2853.0,89.72,104.169465,-3.216212,0.49,7293.78,0.00,373.71,37.37,4.00,1.0
21757,NaN,8.0,693.0,5417.0,203.82,99.051964,2.191894,0.27,7129.13,0.00,194.22,19.42,1.00,1.0
21758,NaN,98.0,8488.0,74953.0,138.34,113.921327,-0.789275,0.92,16053.83,0.03,542.48,54.25,0.79,0.8

In [9]:
df.drop(["Location ISO Code", "New Cases", "New Deaths", "New Recovered", "New Active Cases", "Province", "Country", "Continent", "Island", "Time Zone", 
                "Special Status", "Total Regencies", "Total Cities", "Total Districts", "Total Urban Villages", "Total Rural Villages", "Area (km2)", 
                "New Cases per Million", "Total Cases per Million","New Deaths per Million", "Total Deaths per Million", "Case Fatality Rate",
                "Case Recovered Rate", "Growth Factor of New Cases","Growth Factor of New Deaths", "City or Regency"],axis=1,inplace=True)

In [10]:
df.drop(df[(df['Location']=='Indonesia')].index,inplace=True)

In [14]:
# Membuat index baru
df = df.reset_index()

In [16]:
# Menghapus index lama
df = df.drop(columns='index')

In [17]:
# Menyimpan file terbaru
df.to_excel('dataclean_c-19.xlsx')

--------------------------------------------------Lanjut Ke Visualisasi Tableau, Gambar Link Tableau Pada Kolom Read.Me------------------------------------------------------